*{
    margin: 0;
    padding: 0;
    /* font-family: "Gilroy"; */
    box-sizing: border-box;
}

html,body{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    width: 100%;
    height: 100%;
    background-color:white;
}
#top{
    z-index: 899999999;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgb(8, 104, 64);
}
#leftline{
    position: absolute;
    left: 10%;
    top: 0%;
    height: 100%;
    width: 2px;
    background-color: black;
}
#rightline{
    position: absolute;
    right: 10%;
    bottom: 0%;
    height: 100%;
    width: 2px;
    background-color: black;
}
#left{
    width: 100%;
    height: 100%;
}
#ll{
    width: 100%;
    height: 60%;
    background-color:white;
}
#lr{
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 40%;
    position: relative;
}
#lr img{
    position: absolute;
    left: -100%;
    width: 100%;
}
#rl img{
    position: absolute;
    top: -200%;
    width: 100%;
}
#right{
    width: 100%;
    height: 100%;
}
#rl{
    position: relative;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#upper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90%;
    background-color:white;
}
#rr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color:white;
}
#rr a{
    font-family: sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: black;
    transform: rotate(90deg);
    margin-bottom: 60px;
}
 #rr #div{
    height: 120px;
    width: 100%;
    background-color: rgb(233, 196, 12);
}
#btmnav{
    height: 10%;
 width: 100%;
 background-color: black;
 display: flex;
 justify-content: space-around;
 align-items: center;
}
#btmnav h2{
   color: white;
   font-family: sans-serif;
   font-size: 15px;
}

#nav{
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color:white;
}
#nav a{
    text-decoration: none;
}
#ll h1{
    position: absolute;
    left: 12%;
    top: 20%;
    font-size: 60px;
}
#ll h5{
    position: absolute;
    left: 38%;
    top: 52%;
    opacity: .5;
}
#ll h2{
    position: absolute;
    left: 10%;
    top: 13%;
    opacity: .5;
    font-size: 20px;
}
#ll p{
    width: 200px;
    position: absolute;
    left: 14%;
    top: 42%;
    opacity: .8;
    font-size: 10px;
}